@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

@keyframes change-color {
  0%,
  100% {
    background: #ff00ff; /* Magenta */
    filter: blur(6px) brightness(1.2);
  }
  25% {
    background: #00ffff; /* Cyan */
    filter: blur(8px) brightness(1.5);
  }
  50% {
    background: #ffff00; /* Yellow */
    filter: blur(10px) brightness(1.8);
  }
  75% {
    background: #ff1493; /* Deep Pink */
    filter: blur(8px) brightness(1.5);
  }
}
a:hover {
  cursor: pointer;
}

.navbar-spacer {
  height: 100px;
}

.longstory p {
  margin-bottom: 1.5rem;
  text-align: left;
}

.caption {
  text-align: center;
  font-style: italic;
}

.heart-container {
  position: relative;
  display: inline-block;
}

.heart-container::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -24px;
  right: -24px;
  bottom: -24px;
  mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%),
    radial-gradient(at 30% 31%, #000 29%, #0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  background: #ff1493; /* Deep pink color */
  filter: blur(144px);
  z-index: -1;
  animation: change-color 8s linear infinite;
}

.heart-container::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(1px);
  mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%),
    radial-gradient(at 30% 31%, #000 29%, #0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  z-index: 1;
}

img.heart {
  mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%),
    radial-gradient(at 30% 31%, #000 29%, #0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.listicle {
  list-style-type: none;
  padding-left: 0;
}

.listicle li {
  padding-left: 1.5em;
  position: relative;
  line-height: 230%;
  white-space: nowrap;
}

.listicle li::before {
  content: "🏠";
  color: #ff3100;
  font-size: 1.5em; /* Adjust size as needed */
  margin-right: 5px;
}

#hotel li::before {
  content: "🏬";
}

.imageSpecial {
  max-width: 50%;
}

.image-link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 20px;
}

.image-link {
  position: relative;
  display: inline-block;
  margin: 5px;
  transition: 0.5s all;
}

.image-link:hover {
  filter: saturate(4);
  scale: 1.01;
}
.image-link img {
  width: 100%;
  height: auto;
}

.image-link span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

@media (max-width: 640px) {
  .imageSpecial {
    display: none;
  }
}
